# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
.DS_Store

# Logs
*.log
debug.log
node_modules
